 Volume in drive C has no label.
 Volume Serial Number is E439-29F7

 Directory of C:\Users\User\commit-messages

14-Sep-18  07:46 PM    <DIR>          .
14-Sep-18  07:46 PM    <DIR>          ..
14-Sep-18  07:46 PM                 0 .gitignore
14-Sep-18  07:42 PM               106 README.md
               2 File(s)            106 bytes
               2 Dir(s)  63,926,734,848 bytes free
